@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .glassmorphism {
    @apply bg-neutral-900 bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-40 md:bg-[unset] md:backdrop-blur-0 md:bg-opacity-100;
  }
}

/* .lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-stopped {
  overflow: hidden;
} */

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body,
html {
  background-color: #0e1216;
}

body::before {
  content: "";
  background-image: url("/fuzzy-fuzz.gif");
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  opacity: 0.025;
  pointer-events: none;
  z-index: 999999;
  background-repeat: repeat;
  pointer-events: none;
}
