@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .glassmorphism {
    @apply bg-neutral-900 bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-40 md:bg-[unset] md:backdrop-blur-0 md:bg-opacity-100;
  }
}

body::before {
  content: "";
  background-image: url("/fuzzy-fuzz.gif");
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  opacity: 0.025;
  pointer-events: none;
  z-index: 999999;
  background-repeat: repeat;
  pointer-events: none;
}

*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
